<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Street</title>
</head>
<body>
    <style>
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-right: 6px;
}
.card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000a8;
    /* width: calc(45% - 20px);
    max-width: 400px; */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-content {
    padding-bottom: 10px;
}

.card h3 {
    margin-top: 0;
    color: #ffffff;
}

.card p {
    margin: 5px 0;
    color: #ffffff;
}

.card-actions {
    text-align: center;
}

.card-actions a {
    display: inline-block;
    margin: 5px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card-actions a:hover {
    background-color: #45a049;
}
.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.imagen {
  width: 300px; /* Tamaño base de las imágenes */
  height: 300px; /* Tamaño base de las imágenes */
  transition: transform 0.3s ease;
  padding-left: 20px;
  margin-top: 15px;
}

.imagen:hover {
  transform: scale(1.2); /* Escala de la imagen al pasar el cursor sobre ella */
}
    </style>
    <div data-role="page" id="home" data-theme="b">
        <div data-role="header" style="overflow:hidden;" data-theme="b">
            <h1>Street - Technologies</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="/products" data-icon="bullets">Productos</a></li>
                    <li><a href="/" data-icon="home">Home</a></li>
                    <li><a href="/shop" data-icon="plus">Añadir</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        <div data-role="content" style="background-color: #19285ad0;">
            <h2 style="color: #ffffff;">Bienvenido a Street Technologies</h2>
            <div class="collage">
                <img src="https://images.pexels.com/photos/2115257/pexels-photo-2115257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="imagen" alt="Imagen 1">
                <img src="https://images.pexels.com/photos/2399840/pexels-photo-2399840.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="imagen" alt="Imagen 2">
                <!-- Agrega más imágenes según sea necesario -->
            </div>
            <p style="color: #ffffff;">Somos una pagina de Tecnologia entregada a la alta calidad de nuestros productos en la busqueda de lo mejor para nuestros usuarios</p>
            <div class="collage">
                <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="imagen" alt="Imagen 2">
                <img src="https://images.pexels.com/photos/5081399/pexels-photo-5081399.jpeg?auto=compress&cs=tinysrgb&w=600" class="imagen" alt="Imagen 2">
                <!-- Agrega más imágenes según sea necesario -->
            </div>
            <div class="card-container">
                <% products.forEach((product)=>{ %>
                    <div class="card">
                        <h3><%= product.name%></h3>
                        <div>
                            <p><strong>Codigo:</strong> <%= product.code%></p>
                            <p><strong>Marca:</strong> <%= product.brand%> | <strong>Precio de compra:</strong> <%= product.price%></p>
                            <p><strong>Tipo:</strong> <%= product.type%> | <strong>Estatus:</strong> <%= product.status%></p>
                            <p><strong>Existencia:</strong> <%= product.stock %></p>
                            <form action="/sh/<%=product.code%>" method="POST">
                                <input type="submit" value="Comprar" style="background-color: #ffffff;">
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div data-role="footer" data-theme="b">
            <h5>Developed by Zac-ek</h5>
        </div>
    </div>
</body>
</html>